*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

#plus_boton{
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    background-color: #00669F;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;
    z-index: 105;
    text-decoration: none;
}

#descuento {
    background-color: #1CD1B0;
    height: 30px;
}
#descuento_text {
    position: relative;
    font-style: normal;
    color: black;
    top: 25%;
    padding-left: 15px;
    vertical-align: middle;
}
#super_heroes {
    position: sticky;
    top: 30px;
    background-color: #00669F;
    color: #FFFFFF;
    height: 74px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
header>div>img {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    left: 10px;
}
nav {
    position: relative;
    background-color: #001D2D;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 40px;
    text-align: right;
    
}
nav>a {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    width: 100px;
    top: 25%;
    text-align: center;
    text-decoration: none;
}
h1 {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    vertical-align: middle;
}

.heroes {
    display: inline-block;
    height: 800px;
    width: 33%;
    position: relative;
    padding-bottom: 15px;
}
.heart{
    position: absolute;
    width: 25px;
    height: 20px;
    top: 25px;
    left: 25px;
}
.background_hero{
    position:relative;
    display: flex;
    color: #FFFFFF;
    background-size: cover;
    margin: 150px auto 0px auto;
    height: 170px;
    width: 293px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;  
}
.picture_heroe {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 126px;
    width: 126px;
    left: 83.5px;
    top: 107px;
    z-index: 99;
}
.text_heroe{
    background-color: #f3f3f3;
    display: block;
    position:relative;
    color: #FFFFFF;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    height: auto;
    width: 293px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name_heroe {
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 10px;
}
.descrip_heroe{
    position: relative;
    display: block;
    color: #000000;
    padding: 5px;
    height: 150px;
    text-align: justify;
}
.boton{
    background-color: #00669F;
    position: relative;
    display: block;
    color: #FFFFFF;
    margin: 15px auto 15px auto;
    height: 30px;
    width: 40%;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
}
footer {
    position: relative;
    background-color: #00669F;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 0px;
}
.main_forms {
    padding: 80px;
    text-align: center;
    }
.section_form {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.h2_forms {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    text-align: left;
    margin-bottom: 20px;

}
p>input {
    width: 100%;
    margin-top: 15px;
    height: 45px;
    border: 2px solid #000000;
    color: #000000;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}
p>select {
    width: 100%;
    margin-top: 15px;
    font-family: 'Karla', sans-serif;
    height: 45px;
    border: 2px solid #000000;
    color: #000000;
    font-size: 15px
}
p>textarea {
    width: 100%;
    margin-top: 15px;
    height: 190px;
    border: 2px solid #000000;
    color: #000000;
    font-size: 15px
}
.reset_button {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #888888;
    border-radius: 18px;
    height: 45px;
    width: 45%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    margin-right: 3%;
}
.submit_button {
    background-color: #1CD1B0;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 18px;
    height: 45px;
    width: 45%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    margin-left: 3%;
}

#login{
    background-color: #1CD1B0;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 18px;
    height: 45px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}
.aniadir_hero{
    background-color: #00669F;
    position:relative;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    height: auto;
    width: 70%;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#anadir_title {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
}

#form_aniadir_hero {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.left_column_aniadir {
    display: inline-grid;
    place-items: initial;
    text-align: left;
    padding-right: 10px;
    width: 45%;
}

.right_column_aniadir {
    display: inline-grid;
    text-align: left;
    padding-left: 10px;
    width: 45%;
    
}

.left_column_aniadir>label{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px ;
    padding-bottom: 15px;
    padding-top: 20px;
    width: 100%;
}

.left_column_aniadir>input {
    border-radius: 12px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    height: 47px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 8px
}

.left_column_aniadir>textarea {
    border-radius: 12px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    height: 330px;
    width: 100%;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 8px;
}

.right_column_aniadir>label{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px ;
    padding-bottom: 15px;
    padding-top: 20px;
    width: 100%;
}

.right_column_aniadir>input {
    border-radius: 12px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    height: 47px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 8px;
}

#agregar_foto>label {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    display: block;
    padding-bottom: 15px;
    padding-top: 20px;
}

#agregar_foto>input {
    border-radius: 12px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    background-color: #CECECE;
    height: 47px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 11px;
    vertical-align: middle;
    color: black;
}

#round_check {
    margin-top: 30px;
    text-align: left;
}

#round_check>label {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
    display: block;
}

#round_check>label>input {
    margin-right: 5px;
}

#round_check>p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;

}

hr {
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

#submit_button_aniadir>button {
    width: 70%;
    height: 65px;
    background-color: #1cd1b0;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    border-radius: 20px;
    border: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

#plus_boton:hover {
    background-color: #001D2D;
}

#submit_button_aniadir>button:hover {
    background-color: #001D2D;
    color: white;
}

input[type="text"]:valid {
    background-color: #AFF9FE;
}

.left_column_aniadir>input[type="date"]:focus{
    border:2px solid #FF0000;
}

.hover_heroes{
    width:inherit;
    display: inline list-item;
}


.heroe_hover:hover{
    transform: scale(1.1);
}




